# TODO: https://docs.docker.com/get-started/docker-concepts/the-basics/what-is-a-registry/
services:
  # INFRA

  anvil:
    image: ghcr.io/foundry-rs/foundry
    entrypoint: ["anvil"]
    command:
      [
        "--fork-url",
        "https://eth-mainnet.g.alchemy.com/v2/${API_KEY}",
        "--fork-block-number",
        "${FORK_START_BLOCK}",
        "--chain-id",
        "1337",
        "--host",
        "0.0.0.0",
        "--port",
        "8545",
        "--silent",
      ]
    ports:
      - "8545:8545"

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  # DMRKT COMPONENTS
  sim:
    image: sim
    #build:
    #  context: https://github.com/izcm/dmrkt-contracts.git
    volumes:
      - ./config/sim/keys.json:/app/data/1337/keys.json:rw
      - ./config/sim/pipeline.toml:/app/pipeline.toml:rw
      - ./env.example/sim.env:/app/.env:ro
    depends_on:
      - anvil

  indexer:
    image: indexer
    #build:
    #  context: https://github.com/izcm/dmrkt-indexer.git
    ports:
      - "5000:5000"
    env_file: "./env.example/indexer.env"
    depends_on:
      - anvil
      - mongo

  # frontend:
  #   build:
  #     context: https://github.com/izcm/dmrkt-frontend.git
  #   ports:
  #     - "3000:3000"
  #   env_file: "./env.example/frontend.env"
  #   depends_on:
  #     - anvil
  #     - indexer
