# TODO: https://docs.docker.com/get-started/docker-concepts/the-basics/what-is-a-registry/
# TODO: maybe move fork-setup scripts to this repo?
services:
  anvil:
    image: ghcr.io/foundry-rs/foundry
    entrypoint: ["anvil"]
    command: ["--host", "0.0.0.0", "--port", "8545"]
    ports:
      - "8545:8545"
    env_file: "./env/anvil.env"

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"

  indexer:
    build:
      context: https://github.com/izcm/dmrkt-indexer.git
    command: npm run start
    ports:
      - "5000:5000"
    environment:
      MONGODB_URI: mongodb://mongo:27017/dmrkt
      DB_NAME: dmrkt
      ANVIL_RPC_URL: http://anvil:8545
    env_file: "./env/indexer.env" # default .env
    depends_on:
      - anvil
      - mongo

  # frontend:
  #   build:
  #     context: https://github.com/izcm/dmrkt-frontend.git
  #   command: npm run start
  #   ports:
  #     - "3000:3000"
  #   env_file: "./env/frontend.env"
  #   depends_on:
  #     - anvil
